@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideIn {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-text-slide {
    animation: slideIn 1s ease-out;
  }
  /* Family.css */
  .family-page {
    padding: 20px;
    text-align: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
  }
  